@charset "UTF-8";
body {width: 100%;
margin: 0 auto;}

 body h1 {text-align: center;}

 .container ul.info {list-style: none;}
 
section.resume {width: 80%;
margin: 0 auto;}
 
.container label{width: 25%;
    height: 10%;
background-color:dodgerblue;
color: white;
border-radius: 10px;
font-size: 25px;}
